body {
  margin: 0;
}

.background-image {
  background-image: linear-gradient(101.14deg, rgb(148, 13, 255) 11.12%, rgb(0, 148, 255) 58.22%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  filter: blur(30px);
  z-index: -10;
  position: fixed;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
